@model GrahamUniversity.Core.Entities.Student

<div class="row">
    <div class="col-md-12">
        <form asp-action="Create" asp-controller="Student">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" required class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" required class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DocumentNumber" class="control-label"></label>
                <input asp-for="DocumentNumber" required class="form-control" />
                <span asp-validation-for="DocumentNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateEntry" class="control-label"></label>
                <input asp-for="DateEntry" required class="form-control" />
                <span asp-validation-for="DateEntry" class="text-danger"></span>
            </div>
            @await Component.InvokeAsync("ListSubject")
            <div class="form-group">
                <button type="submit" class="btn btn-success">Crear</button>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
